// Font size
$font-size-base-px: 16px;

@function rem($pxval) {
  $base: $font-size-base-px;
  @return ($pxval / $base) * 1rem;
}

// Colours
$blue: #007eb1;
$darkblue: #003647;
$darkblue2: #0C2E4C;
$focus: #3A6378;
$brand-back: #ebecef;
$input-background: #f6f7f8;
$border-color: #767676;
$text-color: #000;
$white: white;

// Spacings
$column-width: rem(1140px);

// Breakpoints
$breakpoints: (
  'xs': 0,
  's': 576px,
  'm': 768px,
  'l': 992px,
  'xl': 1200px
);

@mixin breakpoint($break) {
  $breakpoint-value: map-get($breakpoints, $break);
  @if $breakpoint-value == null {
    @error '"#{$break}" is not an available breakpoint. (#{map-keys($breakpoints)})';
  }
  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

@mixin arrow_icon {
  background-image: url('../assets/right-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: rem(24px);
  height: rem(24px);
  display: inline-block;
}

// For use with psuedo elements (::before, ::after)
@mixin arrow_icon_pe($right: false) {
  content: '';
  @include arrow_icon;
  margin-top: -2px;
  vertical-align: middle;

  @if $right == true {
    margin-left: 4px;
  }

  @if $right == false {
    transform: rotate(180deg);
    margin-right: 4px;
  }
}

@mixin arrow_icon_span {
  @include arrow_icon;
  background-position: center bottom;
}

@mixin underline {
  text-decoration: underline;
  text-decoration-thickness: rem(2px);
  text-decoration-color: $blue;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin focus {
  &:focus {
    outline: rem(3px) solid $focus;
    outline-offset: rem(2px);
  }
}

@mixin font {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

@mixin visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  pointer-events: none;
}

@mixin button_base($right: true) {
  @include underline;
  @include focus;
  color: $text-color;
  border: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  font-size: rem(18px);
  font-weight: 600;

  @if $right == true {
    &::after {
      @include arrow_icon_pe($right);
    }
  } @else {
    &::before {
      @include arrow_icon_pe($right);
    }
  }
}

@mixin content_link {
  @include focus;
  color: $blue;

  &:hover,
  &:focus {
    color: $darkblue;
  }
}
